h1 {
	color: #FCA205;
	margin-left:2%;
}

h3 {
	margin-left:2%;
}

body {
//margin:1%;
}

.chart {

}

.main text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
}

circle {
	fill: steelblue;
	stroke:black;
	r:5px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 52px;
	padding: 2px;
	background: gray;
	border: 0px;
	border-radius: 4px;
	pointer-events: none;
	color:black;
}

div a {
	padding:2px;
}

.last-game-form {
	color:red;
}

#content {
	/*margin-left:-30px;*/
}

.field {
	padding-bottom:2px;
}

.filters {
	margin-top:2%;
	margin-bottom:2%;
	padding-bottom:.5em;
	background-color: #b4caed;
}

.filter-col {

}

.decimalfield {
	width:130px;
	display:none;
}

.integerfield {
	width:130px;
	display:none;
}

#filters_submitted {
	padding:10px;
}

#sampleRow {
	text-align:center;
}

#submit_button {
	text-align:center;
	padding:20px;
}

.data-circle:hover {
	cursor:pointer;
	r:14px;
}