{% load widget_tweaks %}
<div class="row filters">		
	<form action="" method="POST">
		<div class="col-md-4 filter-col" id="filters_div1">
		    <h2>Options</h2>
		    {% csrf_token %}
		    <table>
			{% for field in form.group1 %}
				<tr>
					<div class="field {{ field|field_type }}">
						{{ field.label }}: {{ field }}
					</div>					
				</tr>
			{% endfor %}		    
			</table>
			<div id="submit_button">
				<input type="submit" name="apply_filters" value="Apply All" id="filters_submitted" />
			</div>
	    </div>
	    <div class="col-md-4 filter-col" id="filters_div2">
		    <h2>Game Filters</h2>
		    {% csrf_token %}
		    <table>
			{% for field in form.group2 %}
				<tr>
					<div class="field {{ field|field_type }}">
						{{ field.label }}: {{ field }}
					</div>				
				</tr>
			{% endfor %}		    
			</table>
	    </div>
	    <div class="col-md-4 filter-col" id="filters_div2">
		    <h2>Last Game Filters</h2>
		    {% csrf_token %}
		    <table>
			{% for field in form.group3 %}
				<tr>
					<div class="field {{ field|field_type }}">
						{{ field.label }}: {{ field }}
					</div>				
				</tr>
			{% endfor %}		    
			</table>
	    </div>
	    
	</form>	
</div>