{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/nickdjango/style.css">
    <script src="https://s3.amazonaws.com/nickdjango/display.js"></script>
      <title>NBA Data Visualized</title>
  </head>

  <script>
  d3.json("{% url "game_graph_data" %}", function(error, result) {
      updateData(result);
    });
  </script>
  <body>
    <div class="container">
        <div class="row">
            <h1>NBA Data Visualized</h1>
            <h3>By Nick Caradonna</h3>
            <p style="margin-left:2%;">Note: Currently only includes data from 2014-15 and 2015-16 NBA seasons</p>
        </div>
      <div id="content"></div>
      <div class="row" id="sampleRow">
        <h4 id="sampleSize"></h4>
          <p id="sampleInfoX"></p>
          <p id="sampleMeanX"></p>
          <p id="sampleInfoY"></p>
          <p id="sampleMeanY"></p>
        <!--<p id="sampleInfoR"></p>-->
      </div>
      {% include "graph/filters.html" %}
    </div>
  </body>

</html>